.page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding: 3em;
  width: 100%;
  background-color: #e64968;
}
.page-header .page-header__container-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  width: clamp(200px, 4vw, 400px);
  aspect-ratio: 1/1;
  border: solid #ececec 0.2em;
  background-color: #2b2a8f;
}
.page-header .page-header__container-logo .page-header__logo {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
}
.page-header .page-header__container-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.page-header .page-header__container-info .page-header__data {
  font-family: "cortado", sans-serif;
  font-size: clamp(2em, 2vw, 3em);
  color: #2b2a8f;
  z-index: 1;
}
.page-header .page-header__container-info .page-header__dia-mulheres {
  font-family: "begika", "Times New Roman", Times, serif;
  font-size: clamp(2em, 4vw, 10em);
  font-weight: 100;
  color: #ececec;
  letter-spacing: -5px;
  line-height: 60px;
}
@media (max-width: 1000px) {
  .page-header .page-header__container-info .page-header__dia-mulheres {
    font-family: "begika", "Times New Roman", Times, serif;
    font-size: clamp(2em, 5vw, 34em);
    font-weight: 100;
    color: #ececec;
    letter-spacing: 1px;
    line-height: 30px;
  }
}
.page-header .page-header__container-info .page-header__container-kit-charm {
  position: relative;
  letter-spacing: px;
  z-index: 1;
}
.page-header .page-header__container-info .page-header__container-kit-charm .page-header__kit {
  font-family: "cortado", sans-serif;
  font-size: clamp(2em, 4vw, 10em);
  color: #2b2a8f;
  z-index: 1;
  position: absolute;
  left: 25%;
  top: -10%;
}
.page-header .page-header__container-info .page-header__container-kit-charm .page-header__title-1 {
  font-family: "begika", "Times New Roman", Times, serif;
  font-size: clamp(3em, 7vw, 15em);
  font-weight: 100;
  color: #f2d82c;
}

.main-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 80%;
  z-index: 1;
}
.main-banner .main-banner__price {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "begika", "Times New Roman", Times, serif;
  font-size: clamp(3em, 7vw, 15em);
  font-weight: 100;
  color: #ececec;
  transform: translate(100px, -100px);
  position: absolute;
  z-index: 1;
}
.main-banner .main-banner__price strong {
  font-size: clamp(0.5em, 1vw, 2em);
}
.main-banner .main-banner__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  border-radius: 3em;
}
.main-banner .main-banner__container .main-banner__img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
}

.studioBrin {
  display: grid;
  grid-template: 2fr 8fr/1fr 1fr;
  width: 80%;
  -moz-column-gap: 1em;
       column-gap: 1em;
  align-content: start;
}
@media (max-width: 1000px) {
  .studioBrin {
    grid-template-rows: 2fr 4fr 4fr;
    grid-template-columns: none;
    gap: 1em;
  }
}
@media (max-width: 500px) {
  .studioBrin {
    display: none;
  }
}
.studioBrin .studioBrin__title {
  font-family: "Roboto", serif;
  font-size: clamp(2em, 2vw, 3em);
  font-weight: 900;
  color: #ececec;
  grid-area: 1/1/2/3;
  padding: 1em;
  margin-bottom: 0.5em;
  border-radius: 0.2em;
  text-align: center;
  background-color: #e64968;
}
@media (max-width: 1000px) {
  .studioBrin .studioBrin__title {
    grid-area: 1/1/2/3;
    margin-bottom: 0;
  }
}
.studioBrin .studioBrin__controlls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
@media (max-width: 1000px) {
  .studioBrin .studioBrin__controlls {
    grid-area: 2/1/3/3;
  }
}
.studioBrin .studioBrin__controlls .studioBrin__input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "begika", "Times New Roman", Times, serif;
  font-size: clamp(2em, 2vw, 3em);
  font-weight: 100;
  color: #ececec;
  padding: 16px;
  position: relative;
  width: 100%;
  height: 100%;
  transition: 0.3s;
  border-radius: 3px;
  background-color: #bcbecc;
}
.studioBrin .studioBrin__controlls .studioBrin__input-container:hover {
  background-color: #ececec;
  color: #2e313a;
}
.studioBrin .studioBrin__controlls .studioBrin__input-container .studidoBrin__label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  padding: 0.5em;
  text-align: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: dashed #ececec;
  border-radius: 3px;
  transition: background 0.3s;
}
@media (max-width: 1000px) {
  .studioBrin .studioBrin__controlls .studioBrin__input-container .studidoBrin__label {
    font-size: clamp(0.7em, 1vw, 1em);
  }
  .studioBrin .studioBrin__controlls .studioBrin__input-container .studidoBrin__label i {
    font-size: clamp(1em, 1vw, 1em);
  }
}
.studioBrin .studioBrin__controlls .studioBrin__input-container .studioBrin__input {
  position: absolute;
  opacity: 0;
}
.studioBrin .studioBrin__controlls .studioBrin__input-container--active {
  background-color: #ffffff;
}
.studioBrin .studioBrin__controlls .studioBrin__container-colors {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
  width: 100%;
  padding: 1em;
  background-color: #bcbecc;
  border-radius: 3px;
}
.studioBrin .studioBrin__controlls .studioBrin__container-colors :nth-child(1) {
  background-color: #8a716a;
}
.studioBrin .studioBrin__controlls .studioBrin__container-colors :nth-child(2) {
  background-color: #5b3a31;
}
.studioBrin .studioBrin__controlls .studioBrin__container-colors :nth-child(3) {
  background-color: #d5a0aa;
}
.studioBrin .studioBrin__controlls .studioBrin__container-colors :nth-child(4) {
  background-color: #d2065f;
}
.studioBrin .studioBrin__controlls .studioBrin__container-colors :nth-child(5) {
  background-color: #151515;
}
.studioBrin .studioBrin__controlls .studioBrin__container-colors .studioBrin__btn-color {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "cortado", sans-serif;
  font-size: clamp(1em, 1vw, 1em);
  font-weight: 100;
  color: #ececec;
  flex-grow: 1;
  cursor: pointer;
  width: 100%;
  aspect-ratio: 1/1;
  transition: 0.3s;
  border-radius: 3px;
}
.studioBrin .studioBrin__controlls .studioBrin__container-colors .studioBrin__btn-color:hover {
  filter: brightness(120%);
  font-size: calc(clamp(1em, 1vw, 1em) * 1.1);
}
.studioBrin .studioBrin__controlls .studioBrin__container-colors .studioBrin__btn-color--active {
  transition: 0.3s;
  font-size: clamp(1em, 1vw, 1em);
  box-shadow: 0 0 10px 1px rgb(255, 255, 255);
}
.studioBrin .studioBrin__img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  height: 100%;
  aspect-ratio: 16/10;
  border-radius: 0.2em;
  background-color: #bcbecc;
}
@media (max-width: 1000px) {
  .studioBrin .studioBrin__img-container {
    grid-area: 3/1/4/3;
  }
}
.studioBrin .studioBrin__img-container .studioBrin__client-logo {
  position: absolute;
  width: clamp(2em, 6vw, 400px);
  z-index: 2;
  transform: translateY(-50%);
  top: 52%;
  right: 15%;
}
@media (max-width: 1000px) {
  .studioBrin .studioBrin__img-container .studioBrin__client-logo {
    width: clamp(5em, 3vw, 200px);
    right: 15%;
  }
}
@media (max-width: 700px) {
  .studioBrin .studioBrin__img-container .studioBrin__client-logo {
    width: clamp(4em, 2vw, 200px);
    right: 13%;
  }
}
.studioBrin .studioBrin__img-container .studioBrin__color-img, .studioBrin .studioBrin__img-container .stidoBrin__background-img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  width: 90%;
  z-index: 1;
  border-radius: 1em;
}
@media (max-width: 1000px) {
  .studioBrin .studioBrin__img-container .studioBrin__color-img, .studioBrin .studioBrin__img-container .stidoBrin__background-img {
    width: 100%;
  }
}
.studioBrin .studioBrin__img-container .stidoBrin__background-img {
  z-index: 0;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
  padding: 2em 10%;
  gap: 2em;
  background-color: #bcbecc;
}
@media (max-width: 1000px) {
  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }
}
.cards .cards__container {
  display: grid;
  grid-template: 0.2fr 7fr 2.8fr/7fr 3fr;
  padding: 1em;
  gap: 1em;
  background-color: #ececec;
  border-radius: 1em;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.0901960784);
  transition: 0.3s;
}
.cards .cards__container:hover {
  width: 130%;
}
@media (max-width: 1000px) {
  .cards .cards__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;
  }
}
.cards .cards__container .cards__details {
  font-family: #e64968;
  font-size: clamp(1em, 1vw, 1em);
  font-weight: 100;
  color: #2b2a8f;
  grid-area: 1/1/2/3;
  width: 100%;
}
@media (max-width: 1000px) {
  .cards .cards__container .cards__details {
    text-align: center;
    height: 5%;
  }
}
.cards .cards__container .cards__container-img {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 2/1/3/3;
  gap: 1em;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
@media (max-width: 1000px) {
  .cards .cards__container .cards__container-img {
    height: 15%;
  }
}
.cards .cards__container .cards__container-img .cards__image-main {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.cards .cards__container .cards__container-img .cards__image-main .cards__img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}
.cards .cards__container .cards_title {
  font-family: "cortado", sans-serif;
  font-size: clamp(2em, 2vw, 3em);
  font-weight: 100;
  color: #2b2a8f;
  grid-area: 3/1/4/2;
  height: 100%;
}
@media (max-width: 1000px) {
  .cards .cards__container .cards_title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(2em, 2vw, 3em);
    text-align: center;
  }
}
.cards .cards__container .cards__text {
  font-family: "Roboto", serif;
  font-size: clamp(1em, 1vw, 1em);
  font-weight: 100;
  color: #2e313a;
  grid-area: 4/1/5/3;
}
@media (max-width: 1000px) {
  .cards .cards__container .cards__text {
    grid-area: 3/1/4/2;
  }
}
.cards .cards__container .cards__price {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", serif;
  font-size: clamp(1em, 1vw, 1em);
  font-weight: 100;
  color: #ffffff;
  grid-area: 3/2/4/3;
  border-radius: 3px;
  background-color: rgb(92, 197, 92);
  padding: 0.5em;
}
@media (max-width: 1000px) {
  .cards .cards__container .cards__price {
    grid-area: 4/1/5/3;
    font-size: clamp(2em, 2vw, 3em);
    width: 100%;
  }
}

.footer-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #bcbecc;
  padding: 0 1em;
  gap: 1em;
  background-color: #ececec;
}
@media (max-width: 1000px) {
  .footer-page {
    padding: 1em;
  }
}
.footer-page .footer-page__rules {
  display: flex;
  justify-content: center;
  align-items: space-between;
  width: 100%;
  gap: 3em;
  padding: 1em;
  text-align: center;
  border-radius: 1em;
  background-color: #2e313a;
}
@media (max-width: 1000px) {
  .footer-page .footer-page__rules {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.footer-page .footer-page__rules .footer-page-title {
  font-family: "Roboto", serif;
  font-size: clamp(1em, 1vw, 1em);
  font-weight: 900;
  color: #ececec;
  text-align: start;
}
@media (max-width: 1000px) {
  .footer-page .footer-page__rules .footer-page-title {
    text-align: center;
  }
}
.footer-page .footer-page__content {
  border: solid navy;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2em;
  width: 100%;
  height: 45vh;
}
@media (max-width: 1000px) {
  .footer-page .footer-page__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    pointer-events: none;
  }
}
.footer-page .footer-page__content .footer-page__phone {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 1em;
  height: 100%;
  width: 33%;
}
@media (max-width: 1000px) {
  .footer-page .footer-page__content .footer-page__phone {
    width: 100%;
    height: auto;
  }
}
.footer-page .footer-page__content .footer-page__phone .footer-page__perfil-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  border-radius: 3px;
  background-color: #ececec;
  width: 100%;
  height: calc(33.3% - 0.5em);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1215686275);
  transition: 0.3s;
  overflow: hidden;
  color: #2e313a;
}
.footer-page .footer-page__content .footer-page__phone .footer-page__perfil-container:hover {
  transform: translateX(-10px);
}
.footer-page .footer-page__content .footer-page__phone .footer-page__perfil-container .footer-page__container-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 100%;
  background-color: white;
  overflow: hidden;
}
.footer-page .footer-page__content .footer-page__phone .footer-page__perfil-container .footer-page__container-img .footer-page__img-profile {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}
.footer-page .footer-page__content .footer-page__phone .footer-page__perfil-container .footer-page__data-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0.5em;
  width: 75%;
  height: 100%;
}
.footer-page .footer-page__content .footer-page__phone .footer-page__perfil-container .footer-page__data-profile .footer-page__name-fone {
  font-family: "Roboto", serif;
  font-size: clamp(1em, 1vw, 1em);
  font-weight: 900;
  color: #2b2a8f;
  border-bottom: solid #2b2a8f 1px;
  margin-bottom: 0.5em;
}
.footer-page .footer-page__content .footer-page__phone .footer-page__perfil-container .footer-page__data-profile .footer-page__container-whats .footer-page__numbers {
  font-family: "Roboto", serif;
  font-size: clamp(1em, 1vw, 1em);
  font-weight: 300;
  color: #2b2a8f;
}
.footer-page .footer-page__content .footer-page__phone .footer-page__perfil-container .footer-page__data-profile .footer-page__container-email .footer-page__email {
  font-family: "Roboto", serif;
  font-size: clamp(1em, 1vw, 1em);
  font-weight: 300;
  color: #2b2a8f;
}
@media (max-width: 1000px) {
  .footer-page .footer-page__content .footer-page__phone .footer-page__perfil-container .footer-page__data-profile .footer-page__container-email .footer-page__email {
    font-size: 0.8em;
  }
}
.footer-page .footer-page__content .footer-page__site-container, .footer-page .footer-page__content .footer-page__instagram-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: "Roboto", serif;
  font-size: clamp(1em, 1vw, 1em);
  font-weight: 900;
  color: #2b2a8f;
  border-radius: 1em;
  width: 33%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}
@media (max-width: 1000px) {
  .footer-page .footer-page__content .footer-page__site-container, .footer-page .footer-page__content .footer-page__instagram-container {
    display: none;
  }
}
.footer-page .footer-page__content .footer-page__site-container .footer-page__link-site, .footer-page .footer-page__content .footer-page__site-container .footer-page__link-instagram, .footer-page .footer-page__content .footer-page__instagram-container .footer-page__link-site, .footer-page .footer-page__content .footer-page__instagram-container .footer-page__link-instagram {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", serif;
  font-size: clamp(2em, 2vw, 3em);
  font-weight: 900;
  color: #2b2a8f;
  padding: 0.5em;
  text-align: center;
  z-index: 1;
  width: 100%;
  height: 100%;
  transition: 0.3s;
}
.footer-page .footer-page__content .footer-page__site-container .footer-page__link-site:hover, .footer-page .footer-page__content .footer-page__site-container .footer-page__link-instagram:hover, .footer-page .footer-page__content .footer-page__instagram-container .footer-page__link-site:hover, .footer-page .footer-page__content .footer-page__instagram-container .footer-page__link-instagram:hover {
  color: #ececec;
  background-color: rgba(0, 0, 0, 0.2862745098);
}
.footer-page .footer-page__content .footer-page__site-container .footer-page__img-site, .footer-page .footer-page__content .footer-page__site-container .footer-page__img-instagram, .footer-page .footer-page__content .footer-page__instagram-container .footer-page__img-site, .footer-page .footer-page__content .footer-page__instagram-container .footer-page__img-instagram {
  filter: blur(3px);
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.footer-page .ass {
  font-family: "Roboto", serif;
  font-size: clamp(1em, 1vw, 1em);
  font-weight: 900;
  color: #bcbecc;
}

@font-face {
  font-family: "begika";
  src: url(assets/fonts/Begika.otf) format("opentype"), url(assets/fonts/Begika.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

a,
ul,
li,
ol {
  text-decoration: none;
  list-style-type: none;
}

a:visited {
  color: inherit;
}

button,
input {
  border: none;
  outline: none;
  background-color: transparent;
}

hr {
  width: 100%;
  z-index: 1;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
  font-family: "begika", "Times New Roman", Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}
body main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 3em;
  position: relative;
  z-index: 1;
  width: 100%;
}
body main::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 400px;
  background-color: #e64968;
}
@media (max-width: 1000px) {
  body main::after {
    height: 150px;
  }
}
body main .cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  width: 80%;
  margin-bottom: 3em;
  gap: 2em;
  padding: 2em;
  text-align: center;
  background-color: #ececec;
  border-radius: 1em;
}
body main .cta .cta__title-1 {
  z-index: 1;
  font-family: "cortado", sans-serif;
  font-size: clamp(3em, 7vw, 15em);
  font-weight: 100;
  color: #e64968;
}
body main .cta .cta__text {
  z-index: 1;
  font-family: "Roboto", serif;
  font-size: clamp(1em, 1vw, 1em);
  font-weight: 600;
  color: #2e313a;
}
body main .cta .cta__btn {
  z-index: 1;
  background-color: #e64968;
  padding: 1em;
  border-radius: 3px;
  font-family: "Roboto", serif;
  font-size: clamp(1em, 1vw, 1em);
  font-weight: 900;
  color: #ececec;
  transition: 0.3s;
}
body main .cta .cta__btn:hover {
  background-color: #f05b78;
}
body main .cta .cta__video-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 0;
  width: 100%;
  border-radius: 1em;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
@media (max-width: 1000px) {
  body main .cta .cta__video-container {
    display: none;
  }
}
body main .cta .cta__video-container .cta__video {
  filter: blur(4px) brightness(110%);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 110%;
  height: 110%;
}/*# sourceMappingURL=style.css.map */