@use 'assets/styles/variables' as var;
@use 'assets/styles/mixins';
//pages
@use 'assets/styles/header-site';
@use 'assets/styles/main-banner';
@use 'assets/styles/studioBrin';
@use 'assets/styles/cards';
@use 'assets/styles/footer-page';



@font-face {
  font-family: 'begika' ;
  src: url(assets/fonts/Begika.otf) format('opentype'), url(assets/fonts/Begika.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

a,
ul,
li,
ol {
  text-decoration: none;
  list-style-type: none;
}

a:visited {
  color: inherit;
}

button,
input {
  border: none;
  outline: none;
  background-color: transparent;
}

hr{
  width: 100%;
  z-index: 1;
}

body {
  @include mixins.flex($direction: column, $align: center, $justify: center);
  width: 100%;
  background-color: var.$clear-color-2;
  font-family: var.$secondary-font;
  
  // melhora a qualidade das fontes
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // Para navegadores baseados em Gecko (Firefox)
  text-rendering: optimizeLegibility;
  
  // scroll suave
  scroll-behavior: smooth;
  main{
    @include mixins.flex($direction: column, $align: center, $justify: start);
    gap: var.$large-space;
    position: relative;
    z-index: 1;
    width: 100%;
    
    &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 300px;
      background-color: var.$first-color;
    }
    
    .btn-action{
      @include mixins.flex($direction: column, $align: center, $justify: center);
      width: 100%;
      margin-bottom: var.$large-space;

      .btn-action__link{
        background-color: var.$first-color;
        padding: var.$small-border;
        border-radius: var.$slim-border;

        @include mixins.font( $font: var.$first-font, $size: var.$title-2, $color: var.$clear-color-1, $weight: 900);
        letter-spacing: 7px;
        transition: .3s;

        &:hover{
          background-color: #f05b78;
        }
      }

    }
  }
}