@use 'variables' as var;
@use 'mixins';

.footer-page{
  @include mixins.flex($direction: column, $align: center, $justify: center);
  width: 100%;
  height: 100%;
  background-color: var.$clear-color-3;
  padding: 0 var.$small-space;
  gap: var.$small-space;
  background-color: var.$clear-color-1;

  @include mixins.media-queries(medium){
    padding: var.$small-space;
  }

  .footer-page__rules{
    @include mixins.flex($align: space-between, $justify: center);
    width: 100%;
    gap: var.$large-space;
    padding: var.$small-space;
    text-align: center;
    border-radius: var.$small-border;
    background-color: var.$dark-color;
    
    @include mixins.media-queries(medium){
      @include mixins.flex($direction: column, $align: center, $justify: center);
    }

    .footer-page-title{
      @include mixins.font( $font: var.$simple-font, $size: var.$text, $color: var.$clear-color-1, $weight: 900);
      text-align: start;
      @include mixins.media-queries(medium){
        text-align: center;
      }
    }
  }
  
  .footer-page__content{
    border: solid navy;
    @include mixins.flex($justify: center, $align: flex-start);
    gap: var.$medium-space;
    width: 100%;
    height: 45vh;

    @include mixins.media-queries(medium){
      @include mixins.flex($direction: column, $align: center, $justify: center);
      height: 100%;
      pointer-events: none;
    }
    
    .footer-page__phone{
      @include mixins.flex($direction: column, $align: start, $justify: space-between);
      gap: var.$small-space;
      height: 100%;
      width: 33%;
      
      @include mixins.media-queries(medium){
        width: 100%;
        height: auto;
      }
  
      .footer-page__perfil-container{
        @include mixins.flex($align: center, $justify: center);
        gap: var.$micro-small-space;
        border-radius: var.$slim-border;
        background-color: var.$clear-color-1;
        width: 100%;
        height: calc(33.3% - var.$micro-small-space);
        box-shadow: 0 0 10px 1px #0000001f;
        transition: .3s;
        overflow: hidden;
        color: var.$dark-color;

        &:hover{
          transform: translateX(-10px);
        }
        
        .footer-page__container-img{
          @include mixins.flex($align: center, $justify: center);
          width: 25%;
          height: 100%;
          background-color: white;
          overflow: hidden;
          
          .footer-page__img-profile{
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
          }  
        }
        .footer-page__data-profile{
          @include mixins.flex($direction: column, $align: flex-start, $justify: center);
          padding: var.$micro-small-space;
          width: 75%;
          height: 100%;
  
          .footer-page__name-fone{
            @include mixins.font($font: var.$simple-font, $size: var.$text, $color: var.$third-color, $weight: 900);
            border-bottom: solid var.$third-color 1px;
            margin-bottom: var.$micro-small-space;
          }
          .footer-page__container-whats{
    
            .footer-page__numbers{
              @include mixins.font($font: var.$simple-font, $size: var.$text, $color: var.$third-color, $weight: 300);
            }
          }
    
          .footer-page__container-email{
            
            .footer-page__email{
              @include mixins.font($font: var.$simple-font, $size: var.$text, $color: var.$third-color, $weight: 300);

              @include mixins.media-queries(medium){
                font-size: .8em;
              }
            }
          }
        }
      }
    }
    .footer-page__site-container, .footer-page__instagram-container{
      @include mixins.flex($direction: column, $align: center, $justify: center);
      position: relative;
      @include mixins.font($font: var.$simple-font, $size: var.$text, $color: var.$third-color, $weight: 900);
      border-radius: var.$small-border;
      width: 33%;
      height: 100%;
      overflow: hidden;
      z-index: 1;
      @include mixins.media-queries(medium){
        display: none;
      }
      
      .footer-page__link-site, .footer-page__link-instagram{
        @include mixins.flex($direction: column, $align: center, $justify: center);
        @include mixins.font($font: var.$simple-font, $size: var.$title-2, $color: var.$third-color, $weight: 900);
        padding: var.$micro-small-space;
        text-align: center;
        z-index: 1;
        width: 100%;
        height: 100%;
        transition: .3s;

        
        &:hover{
          color: var.$clear-color-1;
          background-color: #00000049;
        }
      }
      
      .footer-page__img-site, .footer-page__img-instagram{
        filter: blur(3px);
        position: absolute;
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
        z-index: 0;
      }
    }
  }
  .ass{
    @include mixins.font($font: var.$simple-font, $size: var.$text, $color: var.$clear-color-3, $weight: 900);
  }
}