@use 'variables' as var;
@use 'mixins';

.footer-page{
  @include mixins.flex($direction: column, $align: center, $justify: center);
  width: 100%;
  height: 60vh;
  background-color: var.$clear-color-3;
  padding: var.$large-space 10%;
  gap: var.$large-space;
  
  .footer-page__content{
    @include mixins.flex($align: center, $justify: space-between);
    gap: var.$medium-space;
    width: 100%;
    
    .footer-page__logo-container{
      @include mixins.flex($justify: center, $align: center);
      padding: var.$small-space;
      height: 100%;
      aspect-ratio: 1 / 1;
      border: solid var.$clear-color-1 var.$micro-small-border;
      border-radius: var.$small-border;
      background-color: var.$third-color;
      
      .footer-page__logo{
        object-fit: cover;
        object-position: center;
        width: 100%;
      }
    }
  }
  
  .footer-page__rules{
    @include mixins.flex($direction: column, $align: center, $justify: center);
    text-align: center;
    padding: var.$small-space;
    height: 100%;
    background-color: var.$dark-color;
    border-radius: var.$small-border;

    
    .footer-page-titles{
      @include mixins.font( $font: var.$simple-font, $size: var.$text, $color: var.$clear-color-2, $weight: 900);
      text-align: start;
    }
  }
  
  .footer-page__contact{
    @include mixins.flex($align: start, $justify: start);
    border: solid maroon;
    gap: var.$small-space;
    @include mixins.font( $font: var.$simple-font, $size: var.$text, $color: var.$third-color, $weight: 900);
    
    
    .footer-page__email-container{
      @include mixins.flex($direction: column, $align: start, $justify: start);
      
      .footer-page__email-title{
        @include mixins.font($font: var.$simple-font, $size: var.$text, $color: var.$third-color, $weight: 900);
      }
      .footer-page__email{
        @include mixins.font($font: var.$simple-font, $size: var.$text, $color: var.$third-color, $weight: 300);
      }
    }

    .footer-page__phone{
      
    }

  }
}