@use 'variables' as var;
@use 'mixins';

.studioBrin{
  @include mixins.flex($direction: column, $align: center, $justify: center);
  width: 80%;
  gap: var.$medium-space;
  
  .studioBrin__title{
    @include mixins.font( $font: var.$secondary-font, $size: var.$title-3, $color: var.$clear-color-1, $weight: 100);
    padding: var.$small-space;
    height: auto;
    border-radius: var.$micro-small-border;
    text-align: center;
    background-color: var.$first-color;
  }
  
  .studioBrin__content{
    @include mixins.flex($align: center, $justify: center);
    width: 100%;
    height: 100%;
    gap: var.$medium-space;
    
    .studioBrin__controlls{
      @include mixins.flex($direction: column, $align: center, $justify: center);
      gap: var.$small-space;
      padding: var.$small-space;
      overflow: hidden;
      width: 50%;
      height: 100%;
      border-radius: var.$micro-small-space;
      background-color: var.$clear-color-1;


      .studioBrin__input-container{
        @include mixins.flex($direction: column, $align: center, $justify: center);
        @include mixins.font( $font: var.$secondary-font, $size: var.$title-2, $color: var.$clear-color-1, $weight: 100);
        padding: 16px;
        position: relative;
        width: 100%;
        height: 100%;
        transition: .3s;
        border-radius: var.$slim-border;
        background-color: var.$clear-color-3;

        &:hover{
          background-color: var.$clear-color-2;
        }
        
        .studidoBrin__label{
          @include mixins.flex($direction: column, $align: center, $justify: center);
          gap: var.$micro-small-space;
          padding: var.$micro-small-space;
          text-align: center;
          width: 100%;
          height: 100%;
          cursor: pointer;
          border: dashed var.$clear-color-1;
          border-radius: var.$slim-border;
          transition: background .3s;


          @include mixins.media-queries(medium){
            i{
              font-size: clamp(2em, 1.5vw, 2em);
            }
            font-size: clamp(1em, 1vw, 2em);
          }
        }
 
        .studioBrin__input{
          position: absolute;
          opacity: 0;
        }
      }

      .studioBrin__input-container--active{
        background-color: var.$clear-color-2;
      }
      
      .studioBrin__container-colors{
        @include mixins.flex($align: center, $justify: space-between);
        gap: var.$micro-small-space;
        width: 100%;        
        
        :nth-child(1){
          background-color: #8a716a;
        }
        :nth-child(2){
          background-color: #5b3a31;
        }
        :nth-child(3){
          background-color: #d5a0aa;
        }
        :nth-child(4){
          background-color: #d2065f;
        }
        :nth-child(5){
          background-color: #151515;
        }
        
        .studioBrin__btn-color{
          @include mixins.flex($align: center, $justify: center);
          @include mixins.font( $font: var.$first-font, $size: var.$text, $color: var.$clear-color-1, $weight: 100);
          flex-grow: 1;
          cursor: pointer;
          width: 100%;
          aspect-ratio: 1 / 1;
          transition: .3s;
          border-radius: var.$slim-border;

          &:hover{
            filter: brightness(120%);
            font-size: calc(var.$text * 1.1);
          }
        }

        .studioBrin__btn-color--active{
          transition: .3s;
          font-size: var.$text;
          box-shadow: inset 0 0 0 var.$micro-small-border var.$clear-color-2;
        }
      }
    }
    
    .studioBrin__img-container{
    @include mixins.flex($direction: column, $align: center, $justify: center);
    position: relative;
    z-index: 1;
    overflow: hidden;
    width: 50%;
    height: 100%;
    aspect-ratio: 16 / 10;
    border-radius: var.$micro-small-border;

    .studioBrin__client-logo{
      position: absolute;
      width: clamp(2em, 6vw, 400px);
      z-index: 2;
      transform: translateY(-50%);
      top: 52%;
      right: 12%;

      @include mixins.media-queries(medium){
        width: clamp(1.3em, 3vw, 200px);
        right: 15%;
      }
    }

    .studioBrin__color-img{
      position: absolute;
      object-fit: cover;
      width: 100%;
      z-index: 1;
    }
    
    .stidoBrin__background-img{
      position: absolute;
      object-fit: cover;
      width: 100%;
      z-index: 0;
    }

    }
  }
}