
//paleta de cores light
$first-color: #e64968;
$second-color: #f2d82c;
$third-color: #2b2a8f;

$dark-color: #2e313a;


$clear-color-1: #ececec;
$clear-color-2: #ffffff;
$clear-color-3: #bcbecc;


//fonts
$first-font: "cortado", sans-serif;;
$secondary-font: 'begika', 'Times New Roman', Times, serif;
$simple-font: "Roboto", serif;

//font-size
$title: clamp(3em, 7vw, 15em);
$title-2: clamp(1em, 2vw, 3em);
$title-3: clamp(2em, 4vw, 10em);
$text: clamp(.5em, 1vw, 1em);

//spaces
$micro-small-space: 0.5em;
$small-space: 1em;

$micro-medium-space: 1.5em;
$medium-space: 2em;

$micro-large-space: 2.5em;
$large-space: 3em;

//bordas e border-radius
$slim-border: 3px;
$micro-small-border: 0.2em;
$small-border: 1em;
$medium-border: 2em;
$large-border: 3em;
